<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Exercise 1</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/exercise1.css">
</head>
<body>
    <div class="container">
        <div class="heading">Formulário de registro</div>

        <p class="erro" th:if="${erro}" th:text="${erro}"></p>

        <form action="/exercise1" method="post" class="form">
            <label for="nome">Name:</label>
            <input class="input" type="text" id="nome" name="nome" required th:value="${nome}"><br><br>

            <label for="idade">Age:</label>
            <input class="input" type="text" id="idade" name="idade" required th:value="${idade}"><br><br>

            <label for="altura">Height (in meters):</label>
            <input class="input" type="text" id="altura" name="altura" required th:value="${altura}"><br><br>

            <input class="submit" type="submit" value="Submit">
        </form>
    </div>
</body>
</html>